<<<<<<< HEAD
.phong {
  height: 600px;
  background: #fff;
  margin: 0 auto; }
  .phong .phong1 {
    padding-top: 30px;
    height: 600px;
    background: #fff; }
    .phong .phong1 .p1 {
      border: 0.5px solid gray;
      color: #000;
      height: 100px;
      width: 80%;
      margin-left: 85px;
      background: #DDDDDD; }
      .phong .phong1 .p1 a {
        text-decoration: none; }
      .phong .phong1 .p1 h4 {
        color: #669966;
        padding-left: 15px;
        font-size: 18px; }
      .phong .phong1 .p1 p {
        padding-left: 30px;
        font-size: 14px;
        color: #000; }
      .phong .phong1 .p1:hover {
        background: #006666; }
        .phong .phong1 .p1:hover h4, .phong .phong1 .p1:hover p {
          color: #fff; }
    .phong .phong1 .p2, .phong .phong1 .p3, .phong .phong1 .p4 {
      border: 0.5px solid gray;
      color: #000;
      height: 100px;
      width: 80%;
      margin-left: 85px; }
      .phong .phong1 .p2 h4, .phong .phong1 .p3 h4, .phong .phong1 .p4 h4 {
        font-size: 18px;
        padding-left: 15px;
        font-family: inherit;
        color: inherit; }
      .phong .phong1 .p2 p, .phong .phong1 .p3 p, .phong .phong1 .p4 p {
        padding-left: 30px;
        font-size: 14px;
        text-align: left; }
  .phong .phong2 {
    padding-top: 50px;
    height: 400px; }
    .phong .phong2 img.image5 {
      display: block;
      max-width: 90%;
      height: auto; }
=======
#n {
  background: red;
  height: 1000px; }
  #n #n1 {
    background: #f9f9f9;
    height: 200px; }
    #n #n1 h3 {
      color: #6D9C91;
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      margin-top: 30px; }
    #n #n1 p {
      text-align: center;
      margin-top: 25px; }
  #n #n2 {
    background: #f5f5f5;
    height: 100px; }
    #n #n2 h2 {
      color: #6D9C91;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      margin-top: 30px; }
  #n #n3 {
    background: white;
    height: 800px; }
    #n #n3 #n4 {
      height: 400px;
      background: none;
      float: left; }
      #n #n3 #n4 .content {
        float: left;
        background: none;
        width: 100%;
        height: 100px; }
        #n #n3 #n4 .content h3 {
          text-align: center;
          margin-top: 30px;
          align-items: center;
          font-size: 20px; }
      #n #n3 #n4 .icon1 {
        float: left;
        background: none;
        width: 100%;
        height: 100px; }
        #n #n3 #n4 .icon1 .fas {
          display: flex;
          justify-content: center;
          color: #6e9c91; }
      #n #n3 #n4 .content1 {
        float: left;
        background: none;
        width: 100%;
        height: 100px; }
        #n #n3 #n4 .content1 p {
          text-align: center; }
      #n #n3 #n4 .learmore {
        float: left;
        background: none;
        width: 100%;
        height: 100px; }
        #n #n3 #n4 .learmore a {
          text-decoration: none;
          text-align: center;
          width: 100%;
          display: block; }
    #n #n3 #n4:hover {
      border-bottom: 30px solid transparent;
      border-color: #6D9C91;
      margin-top: -5px;
      -webkit-box-shadow: 1px 2px 2px 4px #cccccc;
      -moz-box-shadow: 1px 2px 2px 4px #cccccc;
      box-shadow: 1px 2px 2px 4px #cccccc; }
>>>>>>> c8a4a519c606a471fe7a2c31f14b7f7fc962c95e

/*# sourceMappingURL=style.css.map */
